body{
    height:100vh;
}

.login{
    height:100vh;
    display: flex;
    flex-direction: row;
}

.img-login{
    height:100vh;
    width: 100%;
    background-color:purple;
}

.inoffice-logo{
    max-height: 180px;
    max-width: 111px;
    margin-bottom: 140px;
}

.login-form{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-login{
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
    width: 100%;
    width: 250px;
    border: none;
    border-radius:0;
    border-bottom: solid 1px red;
    margin-bottom: 30px;
}

.btn-login{
    margin-top: 50px;
    width: 100px;
}

.label-login {
    margin: 0;
    padding:0;
}

.add-button{
    background-color: #3a9842;
    border: none;
    border-radius: 35px;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
}

.logo-field{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-logo{
    height: 60px;
}

#navigation {
    background: #2e2e2e;
    padding: 0;
    height: 100vh;
}

.no-space{
    padding: 0;
    margin: 0;
}

.input-text{
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
}

.header{
    height: 9vh;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.user-interaction{
    height: 90vh;
    overflow-y: auto;
    background-color: #ebebeb;
    padding: 10px;
}

.main-content{
    padding: 10px 25px;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    margin-top:10px;
    font-size: 16px;
}

.table-head{
    margin-top:20px;
    height: 50px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
}

.table-head-title{
    font-size: 16px;
    color: #2e2e2e;
}

.table-body{
    height: 70vh;
    margin-top:20px;
    padding: 15px 10px;
    background-color: white;
    border-radius: 10px;
}

.table-item{
    border-bottom: solid 1px red;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

table{
    width:100%;
}

.form-input{
    background-color: #ebebeb;
    padding: 10px;
}

.card{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.add-mt{
    margin-top:20px;
}

textarea{
    resize: none;
    width: 100%;
    height: 100px;
}

.textarea-size{
    height: 400px;
}

.trainning-area{
    background-color: #ebebeb;
    height: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.trainning-line{
    height: 55px;
    width:100%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

a:focus,a:hover,a{
    outline:none;
    text-decoration: none;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top i {
    font-size: 18px;
}
.bg-image {
    background-color: aqua;
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
}

.form-btn {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 400;
    max-width: 250px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 2px 8px #d2d2d2;
    -moz-box-shadow: 0 2px 8px #d2d2d2;
    -webkit-box-shadow: 0 2px 8px #d2d2d2;
}

.form-btn::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 9px;
}

.form-details {
    padding: 35px 0;
}

.tab-content .tab-pane {
    padding: 70px 0;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}
.header-top {
    margin: 0;
    padding-top: 2px;
    margin-top: 20px;
}

.header-top img {
    border-radius: 50%;
    max-width: 48px !important;
    width: 100%;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.header-top i {
    color: #0e1a35;
}

.icon-info {
    position: relative;
}
.navi i {
    font-size: 20px;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}

.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}

.header-top li {
    display: inline-block;
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -120px;
    padding: 17px;
}

.view {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
}

.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
}

#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
}

header {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    display: inline-block !important;
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navi a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    color: #5584ff;
}

.navi .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.navi a:hover {
    background: white none repeat scroll 0 0;
    border-left: 5px solid #ebebeb;
    color: #2e2e2e;
    display: block;
    padding-left: 15px;
}




.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0e1a35;
}
.close, .close:focus, .close:hover {
    color: #fff;;
    opacity: 1;
    text-shadow: none;
}
.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}
.modal-header.login-header h4 {
    color: #ffffff;
}
.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}
.modal-footer .add-project::before{display: none;}
.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}
.cancel {
    background: #0E1A35     ;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}

.modal{
    top: 20%; 
}
.modal-header .close {
    margin-top: 2px;
}
.search input:focus{
    border-bottom: 1px solid #BDC4D4;
    line-height:22px;
    transition: 0.1s all;
}
.modal-header.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
/*Main CSS*/
