
@{
    ViewBag.Title = "JobDescriptionView";
}

<section class="form-input">
    <form class="needs-validation" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <h4 class="mb-3 text-center">General</h4>
                    <div class="row add-mt">
                        <div class="col-md-3">
                            <label for="id">Job id:</label>
                            <input type="text" class="form-control" id="id" name="id" placeholder="id" value="" required>
                        </div>
                        <div class="col-md-3">
                            <label for="createdAt">Created at:</label>
                            <input type="text" class="form-control" id="createdAt" name="createdAt" placeholder="Created at" value="" required>
                        </div>
                        <div class="col-md-3">
                            <label for="jobDescription">Job description:</label>
                            <input type="text" class="form-control" id="jobDescription" name="jobDescription" placeholder="Job description" value="" required>
                        </div>
                        <div class="col-md-3">
                            <label for="cbo">CBO:</label>
                            <input type="text" class="form-control" id="cbo" name="cbo" placeholder="CBO" value="" required>
                        </div>
                    </div>
                    <div class="row add-mt">
                        <div class="col-md-6">
                            <label for="jobPosition">Job position:</label>
                            <input type="text" class="form-control" id="jobPosition" name="jobPosition" placeholder="Job position" value="" required>
                        </div>
                        <div class="col-md-6">
                            <label for="functionalArea">Functional area:</label>
                            <input type="text" class="form-control" id="functionalArea" name="functionalArea" placeholder="" value="" required>
                        </div>
                    </div>
                    <div class="row add-mt">
                        <div class="col-md-6">
                            <label for="jobTitle">Job title/levels:</label>
                            <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="" value="" required>
                        </div>
                        <div class="col-md-6">
                            <label for="globalClassification">Global job classification:</label>
                            <input type="text" class="form-control" id="lastName" name="globalClassification" placeholder="" value="" required>
                        </div>
                    </div>
                    <div class="row add-mt col-md-12">
                        <label for="jobSummary">Job Summary:</label>
                        <textarea class="form-control" id="jobSummary" name="jobSummary"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <h4 class="mb-3 text-center">Organizational relationship</h4>
                    <div class="add-mt">
                        <label for="reportsTo">Reports to:</label>
                        <input type="text" class="form-control" id="reportsTo" name="reportsTo" placeholder="id" value="" required>
                    </div>
                    <div class="add-mt">
                        <label for="supervisesReceives">Supervises/receives assistence from:</label>
                        <input type="text" class="form-control" id="supervisesReceives" name="supervisesReceives" placeholder="Created at" value="" required>
                    </div>
                    <div class="add-mt">
                        <label for="coordinateWith">Coordinate with:</label>
                        <input type="text" class="form-control" id="coordinateWith" name="coordinateWith" placeholder="Job description" value="" required>
                    </div>
                    <div class="row add-mt col-md-12">
                        <label for="otherContacts">Other contacts:</label>
                        <textarea class="form-control" id="otherContacts" name="otherContacts"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row add-mt">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <h4 class="mb-3 text-center">Organizational relationship</h4>
                    <div class="add-mt">
                        <label for="schooling">Schooling:</label>
                        <input type="text" class="form-control" id="schooling" name="schooling" placeholder="id" value="" required>
                    </div>
                    <div class="add-mt">
                        <label for="areasExperience">Area's experience:</label>
                        <input type="text" class="form-control" id="areasExperience" name="areasExperience" placeholder="Created at" value="" required>
                    </div>
                    <div class="row add-mt col-md-12">
                        <label for="trainning">Trainning:</label>
                        <button class="add-button">+</button>
                        <div class="trainning-area add-mt">
                            <div class="trainning-line">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" id="" name="" placeholder="Trainning title" value="">
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control" id="level" name="level">
                                        <option value="">Choose an option</option>
                                        <option value="basico">Básico</option>
                                        <option value="intermediario">Intermediário</option>
                                        <option value="avancado">Avançado</option>
                                        <option value="fluente">Fluente</option>
                                        <option value="nao se aplica">Náo se aplica</option>
                                    </select>
                                </div>
                                <div class="col-md-2 text-center">
                                    <button>E</button>
                                    <button>R</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <h4 class="mb-3 text-center">Key responsabilities</h4>
                    <div class="row add-mt col-md-12">
                        <label for="otherContacts">Partial:</label>
                        <textarea class="form-control textarea-size" id="otherContacts" name="otherContacts"></textarea>
                    </div>
                    <div class="row add-mt col-md-12">
                        <label for="otherContacts">Total:</label>
                        <textarea class="form-control textarea-size" id="otherContacts" name="otherContacts"></textarea>
                    </div>
                    <div class="row add-mt col-md-12">
                        <label for="otherContacts">Support:</label>
                        <textarea class="form-control textarea-size" id="otherContacts" name="otherContacts"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>