@using InOffice.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section class="login">
    <img class="img-login" src="~/Assets/Login image.png" />
    <div class="login-form">
        <img class="inoffice-logo" src="~/Assets/InOffice-logo.png" />
        <form class="form-login">
            <span class="label-login">User:</span>
            <input type="text" class="input-login" id="username" name="username" value="" required>
            <span class="label-login">Password:</span>
            <input type="password" class="input-login" id="password" name="password" value="" required>
            <button type="submit" class="btn btn-login">Login</button>
        </form>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}